.enrollment-container {
  padding: 40px;
  background: #f7f2e9;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
}

.student-card {
  background: white;
  border-radius: 16px;
  padding: 25px;
  width: 450px;
  margin: 0 auto 40px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card input {
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.card button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #ff9838;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.card button:hover {
  background: #ff7b00;
}

.drop button {
  background: #d9534f;
}

.drop button:hover {
  background: #c9302c;
}

.message {
  margin-top: 25px;
  padding: 15px;
  text-align: center;
  background: #fff3cd;
  border-radius: 10px;
  border: 1px solid #ffeeba;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
