.enroll-container {
  padding: 25px;
  max-width: 900px;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.load-btn {
  width: 100%;
  padding: 14px;
  background: #e5e5e5;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  gap: 20px;
}

.enroll-btn {
  flex: 1;
  background: linear-gradient(to right, #f9a825, #ef6c00);
  padding: 15px;
  font-size: 18px;
  border-radius: 20px;
}

.drop-btn {
  flex: 1;
  background: linear-gradient(to right, #8b0000, #400000);
  padding: 15px;
  font-size: 18px;
  border-radius: 20px;
  color: white;
}

.enroll-table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

.enroll-table th,
.enroll-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.loader {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
