# Maven/Java
/target/
backend/target/

# Eclipse metadata
.project
.classpath
.settings/

# OS junk
.DS_Store
Thumbs.db

# Idea Stuff
../.idea

# Credentials (until they're offloaded to environment variables)
./src/main/resources/application.yml