* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #f9fafb;*/
    background-color: #F8F8F9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
}

.profile-header img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile-header h2 {
    color: #111827;
    margin-bottom: 0.3rem;
}

.profile-header p {
    color: #6b7280;
    font-size: 0.95rem;
}

.profile-details {
    text-align: left;
    margin-top: 1.5rem;
}

.profile-details h3 {
    color: #111827;
    margin-bottom: 0.5rem;
}

.profile-details p {
    color: #374151;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.profile-details ul {
    list-style: none;
    color: #374151;
    margin-bottom: 1.5rem;
}

.profile-details li {
    margin-bottom: 0.4rem;
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: #ecaa00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #575757FA;
}

/* Responsive */
@media (max-width: 480px) {
    .profile-container {
        padding: 1.5rem;
    }
    .profile-header img {
        width: 100px;
        height: 100px;
    }
}
