* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f3f4f6;
    background-image: url("https://www.csulb.edu/sites/default/files/styles/homepage_callout_large/public/images/2025-02/baby%20banner_%20presidential%20search.png?h=cc4e4216&itok=Oc0FGRqt");
    background-size: cover;
    display: flex;
    height: 100vh;
    padding: 3rem;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 30rem;

    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: center;
    /*align-items: center;*/
}

h1 {
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: #444;
}

input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: #2563eb;
}

button {
    width: 100%;
    padding: 0.7rem;
    background-color: #ecaa00;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #575757FA;
}

.forgot-password-container{
    /*border: 10rem;*/
    padding: .5rem;
    font-size: small;
}

#csulb-emblem{
}

#message {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ef4444;
}
